{{define "title"}}Home{{end}}
{{define "links"}}{{end}}
{{define "body"}}
<body class="page-container-bg-solid">
    <div id="app">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.3.0/vue-router.min.js"></script>
    <script src="../js/app.js"></script>
</body>
{{end}}